<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title"></h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" [formGroup]="formIdentificacion">
      <div class="card-body">
        <div class="form-group">
          <label for="Numero_Documento">Numero de Documento</label>
          <input type="text" class="form-control" id="Numero_Documento" placeholder="Ingrese Numero de Documento" formControlName="NRO_DOCUMENTO">
        </div>
       
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary" (click)="cargarRespuesta()">Buscar</button>
      </div>
    </form>
  </div>