<div class="example-card card card-primary">
    <div class="card-header">
     
 <div class="card-title">SEGUIMIENTO A PACIENTE COVID</div>
     
    </div>
   
   <div class="card-body">
     
      <div class="row">
        <div class="col-3">
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
            
              </div>
    
              <h3 class="profile-username text-center">{{DatosGenerales.APE_PATERNO+' '+DatosGenerales.APE_MATERNO+' '+DatosGenerales.NOMBRES|uppercase}}</h3>
    
              <p class="text-muted text-center">NRO DOCUMENTO:{{DatosGenerales.NRO_DOCUMENTO}}</p>
    
              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b></b> <a class="float-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Numero de Seguimientos</b> <a class="float-right">8</a>
                </li>
                <li class="list-group-item">
                  <b>Evolucion Actual</b> <a class="float-right">Recuperado</a>
                </li>
              </ul>
    
              <a href="#" class="btn btn-primary btn-block"><b>Regresar</b></a>
            </div>
            <!-- /.card-body -->



          </div>

          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">INFORMACION ADICIONAL</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-book mr-1"></i> Tipo de Seguro</strong>

              <p class="text-muted">
                {{DatosGenerales.TIPO_DE_SEGURO}}
              </p>

              <hr>

              <strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicacion</strong>

              <p class="text-muted">{{DatosGenerales.PROVINCIA}}, {{DatosGenerales.DISTRITO}}</p>

              <hr>

              <strong><i class="fas fa-pencil-alt mr-1"></i> Direccion</strong>

              <p class="text-muted">{{DatosGenerales.DIRECCION}}</p>

              <hr>

              <strong><i class="far fa-file-alt mr-1"></i> Notas</strong>

              <p class="text-muted">.</p>
            </div>
            <!-- /.card-body -->
          </div>

        </div>

        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Notificacion</a></li>
                <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Seguimiento</a></li>
                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Hospitalizacion</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane" id="activity">
               
                  <app-base-noti></app-base-noti>

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane active" id="timeline">
                  <!-- The timeline -->
              <app-seguimiento-clinico></app-seguimiento-clinico>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="settings">
                  <app-hospitalizacion></app-hospitalizacion>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
      </div>
     

  <div class="jumbotron">

    DIRECCION REGIONAL DE SALUD CAJAMARCA
    
  </div>
     

    


     


    
      
</div>
    <mat-card-actions>
      <button mat-button>REGRESAR</button>
     
    </mat-card-actions>
 </div>
