<div class="example-card card card-primary">
    <div class="card-header">
     
 <div class="card-title">SEGUIMIENTO A PACIENTE COVID</div>
 <div class="float-right">Oficina de Informacion Tecnologia y Estadistica Version 1.0</div>
     
    </div>
   
   <div class="card-body">
     
      <div class="row">
        <div class="col-3">
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
            
              </div>
    
              <h3 class="profile-username text-center">{{DatosGenerales.NOMBRES_COMPLETOS|uppercase}}</h3>
    
              <p class="text-muted text-center">NRO DOCUMENTO: {{DatosGenerales.NRO_DOCUMENTO}}</p>
    
              <ul class="list-group list-group-unbordered mb-3">
               
                <li class="list-group-item">
                  <b>Numero de Seguimientos</b> <a class="float-right">{{cantidadSeguimientos}}</a>
                </li>
                <li class="list-group-item">
                  <b>Evolucion Actual</b> <a class="float-right">{{DatosGenerales.EVOLUCION_ACTUAL}}</a>
                </li>
              </ul>
    
              <a  routerLink="/seguimiento/busqueda" class="btn btn-primary btn-block"><b>Regresar</b></a>
            </div>
            <!-- /.card-body -->



          </div>

          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">INFORMACION ADICIONAL</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-book mr-1"></i> Tipo de Seguro</strong>

              <p class="text-muted">
                {{DatosGenerales.TIPO_DE_SEGURO}}
              </p>

              <hr>

              <strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicacion</strong>

              <p class="text-muted">{{DatosGenerales.PROVINCIA}}, {{DatosGenerales.DISTRITO}}</p>

              <hr>

              <strong><i class="fas fa-pencil-alt mr-1"></i> Direccion</strong>

              <p class="text-muted">{{DatosGenerales.DIRECCION}}</p>

              <hr>

              <strong><i class="far fa-file-alt mr-1"></i> Notas</strong>

              <p class="text-muted">.</p>
            </div>
            <!-- /.card-body -->
          </div>

      <app-estado-registro-covid></app-estado-registro-covid>  
        
        
        
        </div>

        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="#ficha0" data-toggle="tab">Tamizaje Covid   (Ficha 00) </a></li>
                <li class="nav-item"><a class="nav-link" href="#pruebasr" data-toggle="tab">Pruebas de Laboratorio</a></li>
                <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Notificacion (Notiweb)</a></li>
                <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Seguimiento (Ficha 300)</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#medic" data-toggle="tab">Entrega de Medicamentos </a></li> -->
                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Hospitalizacion</a></li>
                <li class="nav-item"><a class="nav-link" href="#sinadef" data-toggle="tab">Defunciones (Sinadef)</a></li>
                
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              
              


              <div class="tab-content">

                <!--<div class="tab-pane" id="medic">
               
               <app-entrega-medicamentos ></app-entrega-medicamentos>
   
                   </div>-->
                <div class="tab-pane" id="ficha0">
               
                 <app-ficha00></app-ficha00> 
  
                  </div>

                <div class="tab-pane" id="pruebasr">
               
                <app-pruebas-rapidas-detalle></app-pruebas-rapidas-detalle>  

                </div>
                <div class="tab-pane" id="activity">
               
                  <app-base-noti></app-base-noti>

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane active" id="timeline">
                  <!-- The timeline -->
              <app-seguimiento-clinico (cargoSeguimientoClinico)="datosSeguimiento($event)"></app-seguimiento-clinico>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="settings">
                  <app-hospitalizacion ></app-hospitalizacion>
                </div>

                <div class="tab-pane" id="sinadef">
               
           <app-sinadef></app-sinadef>
   
                   </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
      </div>
     

     

    


     


    
      
</div>
    <mat-card-actions>
      <button mat-button>REGRESAR</button>
     
    </mat-card-actions>
 </div>
