
<div class="example-card card card-primary">
  <div class="card-header">
    <div class="card-title">SEGUIMIENTO A PACIENTE COVID</div>
  </div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="card">
          <div class="card-header">
            <div class="card-title">
              <i class="fas fa-text-width"></i>
             Panel de Busqueda
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <app-selector-ipress-completo-horizontal (selecionoIpressEvent)="selecionoIpess($event)"></app-selector-ipress-completo-horizontal>
              </div>
            </div>            
            <div class="row">
              <div class="col">
                <mat-grid-list cols="4" rowHeight="100px">
                  <mat-grid-tile>
                    <mat-form-field appearance="fill">
                      <mat-label>DESDE </mat-label>
                      <input matInput [matDatepicker]="desde" [(ngModel)]="Desde" />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="desde"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #desde></mat-datepicker>
                    </mat-form-field>

                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field appearance="fill">
                      <mat-label>HASTA </mat-label>
                      <input matInput [matDatepicker]="hasta" [(ngModel)]="Hasta" />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="hasta"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #hasta></mat-datepicker>
                    </mat-form-field>
    
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-checkbox [(ngModel)]="flgSinIpress" value="" color="primary">Mostrar Registros sin IPRESS</mat-checkbox>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-checkbox [(ngModel)]="flgBuscarEnAmbito" value="" color="primary">Buscar en Todo el Ámbito</mat-checkbox>

                  </mat-grid-tile>
                </mat-grid-list>

              </div>

            </div>

          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="sticky-top mb-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Tipos de Fichas</h4>
            </div>
            <div class="card-body">
              <!-- the events -->
              <div id="external-events" 
               cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="fichas"
              [cdkDropListConnectedTo]="[doneList]"
              (cdkDropListDropped)="drop($event)"
              class="example-list">

              <div *ngFor="let ficha of fichas"
              class="external-event  ui-draggable ui-draggable-handle" [ngClass]="{'bg-success': ficha=='ficha0', 'bg-warning': ficha=='ficha100', 'bg-info': ficha=='ficha200'
             ,'bg-primary': ficha=='ficha300', 'bg-danger': ficha=='ficha400'}"
              style="position: relative; z-index: 100; left: 0px; top: 0px" cdkDrag
            >
             {{ficha}}
            </div>


                <div class="checkbox">
                  <label for="drop-remove">
                    <input type="checkbox" id="drop-remove" />
                    remove after drop
                  </label>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Fichas Seleccionadas</h3>
            </div>
            <div class="card-body">
              <div class="btn-group" style="width: 100%; margin-bottom: 10px"  cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="FichasSeleccionadas"
              [cdkDropListConnectedTo]="[todoList]"
              (cdkDropListDropped)="drop($event)"
              class="example-list">
                <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
            ARRASTRE AQUI
            
                <div *ngFor="let ficha of FichasSeleccionadas"
                  class="external-event bg-success ui-draggable ui-draggable-handle"
                  style="position: relative; z-index: auto; left: 0px; top: 0px" cdkDrag
                  [ngClass]="{'bg-success': ficha=='ficha0', 'bg-warning': ficha=='ficha100', 'bg-info': ficha=='ficha200'
             ,'bg-primary': ficha=='ficha300', 'bg-danger': ficha=='ficha400'}"
                >
            {{ficha}}
                </div>
            
              </div>
              <!-- /btn-group -->
              <div class="input-group">
                <!--   <input id="new-event" type="hidden"  class="form-control" placeholder="Event Title"> -->

                <div class="input-group-append">
                  <button
                    id="add-new-event"
                    type="button"
                    class="btn btn-primary"
                    (click)="devolverCrucesDnis()"
                  >
                    Comparar
                  </button>
                </div>
                <!-- /btn-group -->
              </div>
              <!-- /input-group -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-body p-0">
            <!-- THE CALENDAR -->
            <div class="row">
              <div class="col">
               
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th style="width: 10px" colspan="6">Resultado
                        <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;" (click)="Exportar_Excel()">
                          <i class="fas fa-download"></i> EXPORTAR 
                        </button>
                      </th>
                      
                    </tr>
                  </thead>

                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th style="width: 10px">Numero de Documento</th>
                      <th>Nombres</th>
                      <th *ngFor="let ficha of FichasSeleccionadas">
                        {{ ficha }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let resultado of resultadosfiltrados | paginacion: page_number:page_size;
                        let i = index
                      "
                    >
                      <td>{{resultado.numero}}</td>
                      <td>{{resultado.Nro_Documento}}</td>
                      <td>{{ resultado.Apellidos_Nombres }}</td>
                      <td *ngFor="let ficha of FichasSeleccionadas">
                        <span class="badge" [ngClass]="resultado[ficha].clase"
                          >{{ resultado[ficha].existe |booleanos}}</span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div
                      class="dataTables_info"
                      id="example2_info"
                      role="status"
                      aria-live="polite"
                    >
                      Mostrando {{page_number}} of {{resultados.length}} paginas
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                
                    <div
                      class="dataTables_paginate paging_simple_numbers"
                      id="example2_paginate"
                    >
                      <ul class="pagination">
                        <li
                          class="paginate_button page-item previous disabled"
                          id="example2_previous"
                        >
                          <a
                            href="#"
                            aria-controls="example2"
                            data-dt-idx="0"
                            tabindex="0"
                            class="page-link"
                            >Previous</a
                          >
                        </li>
                        <li class="paginate_button page-item " *ngFor="let pagina of pages">
                          <a
                            href="javascript:void(0);"
                            aria-controls="example2"
                            data-dt-idx="1"
                            tabindex="0"
                            class="page-link"
                         (click)="seleccionarPagina(pagina)"
                            >{{pagina}}</a
                          >
                        </li>          
                       
                      
                     
                   
                        <li
                          class="paginate_button page-item next"
                          id="example2_next"
                        >
                          <a
                            href="#"
                            aria-controls="example2"
                            data-dt-idx="7"
                            tabindex="0"
                            class="page-link"
                            >Next</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
         
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-3">
        <div class="sticky-top mb-3">
        <div class="card">
       
          <div class="card-body">
            <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
              <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
             
            </div>
            <!-- /btn-group -->
            <div class="input-group">
              <input id="new-event" type="text" class="form-control" placeholder="Ingrese Numero de Documento">

              <div class="input-group-append">
                <button id="add-new-event" type="button" class="btn btn-primary">Buscar</button>
              </div>
              <!-- /btn-group -->
            </div>
            <!-- /input-group -->
          </div>
        </div>
        <div class="card card-warning">
          <div class="card-header">
            <h3 class="card-title">ANALISIS DE RESULTADOS</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            
            <p-chart type="bar" [data]="dataPie[ficha]" (onDataSelect)="selectData($event)" *ngFor="let ficha of FichasSeleccionadas"></p-chart>
          
          </div>

          
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
  </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
</div>