.example-section {
   
    align-content: center;
    align-items: center;
    height: 60px;
    font-size: smaller;
  }
  .titulo{
      margin: 40px 20px 40px 20px;
  }
  .footer{
    margin: 180px 20px 80px 20px;
  }