  <!-- The timeline -->
  <div class="timeline timeline-inverse" *ngFor="let ficha300 of ficha300datos">
    <!-- timeline time label -->
    <div class="time-label">
      <span class="bg-danger">
       {{ficha300.Ficha_300_fecha_del_seguimiento}}
      </span>
    </div>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <div>
      <i class="fas fa-phone bg-primary"></i>

      <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> 12:05</span>

        <h3 class="timeline-header"><a href="#">{{ficha300.Ficha_300_tipo_de_monitoreo}}</a> se le realizo seguimiento</h3>

        <div class="timeline-body">
          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fa fa-check"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Evolucion</span>
              <span class="info-box-number">{{ficha300.Ficha_300_evolucion}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>

          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fa fa-question"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Condicion del Egreso</span>
              <span class="info-box-number">{{ficha300.Ficha_300_condicion_egreso}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        <div class="timeline-footer"> 
          <app-entrega-medicamentos [numero_documento]="ficha300.Nro_Documento" [fecha]=" ficha300.Ficha_300_fecha_del_seguimiento">
          </app-entrega-medicamentos>
          <div class="info-box">
            <div class="info-box-content">
              <span class="info-box-text"><b> Registrado por: </b> {{ficha300.Ficha_nombres_apellidos_registrador}} </span>
             </div>
          </div>
        </div>
      </div>
    </div>
    </div>
