<div class="example-card card card-primary">
  <div class="card-header">
    <div class="card-title">SEGUIMIENTO A PACIENTE COVID</div>
    <div class="float-right">
      
      Oficina de Informática Telecomunicaciones y Estadística 
      <br> 
      <div class="text-right">Versión: 1.0</div>
      </div>
  </div>

  <div class="card-body">
    <app-panel-busqueda
      (resultados)="cargarResultados($event)"
    ></app-panel-busqueda>
    <br />
    <mat-divider></mat-divider>
    <br />
<div>
      <app-panel-resultados [resultados]="resulatdosCargas" #panelresultados></app-panel-resultados>
    </div>
  </div>
</div>
