<nav class=" navbar navbar-expand navbar-primary navbar-light">

    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 nav-diresa" href="#">
      <b>
          <img src="http://sir.diresacajamarca.gob.pe/covid/Content/img/grc_icono.svg" style="display:inline;" alt="Dirección Regional de Salud Cajamarca">
      </b>
      <span>
          <img src="http://sir.diresacajamarca.gob.pe/covid/Content/img/texto_diresa-pagina-2.svg" alt="Dirección Regional de Salud Cajamarca" style="display: inline-block;">
      </span>
  </a>
    </nav>

<div class="contenedor">
    <h1 class="nombre text-center">Módulo de Seguimiento al Paciente COVID-19</h1>
    <div class="card" style="margin-top: 15px;" >
        <div class="card-body">
            <div class="form-inline justify-content-center">
                <div class="form-group">
                    <label for="dni">Ingrese el número de documento:</label>
                    <input type="text" class="form-control" name="dni" id="dni" [(ngModel)]="dni">

                </div>
                <button type="button" class="btn btn-primary" (click)="buscarClick()"><i class="fas fa-search"></i>
                    Buscar</button>
            </div>

        </div>
    </div>
    <div *ngIf="persona">
        <!-- Nombre Paciente -->
        <div class="card">
            <div class="card-body">
                <div class="justify-content-center text-center">
                    <h1 class="nombre">{{persona.Apellido_Paterno + " "+ persona.Apellido_Materno +" "+
                        persona.Nombres}}</h1>
                    <span class="etiqueta">{{dni}}</span>
                </div>
            </div>

        </div>

        <!-- Resumen -->
        <div class="card">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-3">
                        <span class="valor">{{persona.Ficha_300_fecha_del_seguimiento}}</span> <br>
                        <span class="etiqueta">Fecha último Seguimiento</span>
                    </div>
                    <div class="col-md-3">
                        <span class="badge badge-primary">{{persona.Ficha_300_evolucion}}</span> <br>
                        <span class="etiqueta">Estado Actual</span>
                    </div>
                    <div class="col-md-3">
                        <span class="valor">{{persona.Ficha_300_condicion_egreso}}</span> <br>
                        <span class="etiqueta">Condición de Egreso</span>
                    </div>
                    <div class="col-md-3">
                        <span class="valor">{{persona.Edad}} años</span> <br>
                        <span class="etiqueta">Edad</span>
                    </div>

                </div>
                <div class="row text-center" style="margin-top: 1rem;" *ngIf="registroHosp">
                    <div class="col-md-6">
                        <span class="valor">{{hospitalizado?"SI":"NO"}}</span> <br>
                        <span class="etiqueta">¿Hospitalizado?</span>
                    </div>
                    <div class="col-md-6">
                        <span class="valor">{{registroHosp.establecimiento_hos}}</span> <br>
                        <span class="etiqueta">Establecimiento</span>
                    </div>

                </div>

            </div>

        </div>

        <!-- Linea de Tiempo -->
        <div class="lineaTiempo">
            <div class="card">
                <div class="card-body">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse" *ngFor="let ficha300 of ficha300datos">

                        <!-- timeline time label -->
                        <div class="time-label">
                            <span class="bg-danger">
                                {{ficha300.Ficha_300_fecha_del_seguimiento}}
                            </span>
                        </div>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <div>
                            <i class="fas fa-phone bg-primary"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="far fa-clock"></i>
                                    {{ficha300.Ficha_300_fecha_del_seguimiento}}</span>

                                <h3 class="timeline-header">Tipo de Seguimiento: <a
                                        href="#">{{ficha300.Ficha_300_tipo_de_monitoreo}}</a></h3>

                                <div class="timeline-body">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-info"><i class="fa fa-check"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Evolucion</span>
                                            <span class="info-box-number">{{ficha300.Ficha_300_evolucion}}</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <div class="info-box">
                                        <span class="info-box-icon bg-info"><i class="fa fa-question"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">¿Presenta Síntomas?</span>
                                            <span class="info-box-number">{{ficha300.Tiene_Sintomas}}</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>

                                    <div class="info-box" *ngIf="ficha300.Ficha_300_condicion_egreso">
                                        <span class="info-box-icon bg-info"><i class="fa fa-question"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Condicion del Egreso</span>
                                            <span class="info-box-number">{{ficha300.Ficha_300_condicion_egreso}}</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <!-- <div class="timeline-footer">
                                    <app-entrega-medicamentos [numero_documento]="ficha300.Nro_Documento"
                                        [fecha]=" ficha300.Ficha_300_fecha_del_seguimiento">
                                    </app-entrega-medicamentos>
                                    <div class="info-box">
                                        <div class="info-box-content">
                                            <span class="info-box-text"><b> Registrado por: </b>
                                                {{ficha300.Ficha_nombres_apellidos_registrador}} </span>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>