<mat-card class="example-card">
  <mat-card-title>PANEL DE BUSQUEDAS</mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="BUSQUEDA GENERAL">
        <p>{{tipo_ambito}} {{codigo_ambito}}</p>
        <app-selector-ipress-completo-horizontal
          (selecionoIpressEvent)="selecionoIpess($event)"
        ></app-selector-ipress-completo-horizontal>
        <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>DESDE </mat-label>
              <input matInput [matDatepicker]="desde" [(ngModel)]="Desde" />
              <mat-datepicker-toggle
                matSuffix
                [for]="desde"
              ></mat-datepicker-toggle>
              <mat-datepicker #desde></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>HASTA </mat-label>
              <input matInput [matDatepicker]="hasta" [(ngModel)]="Hasta" />
              <mat-datepicker-toggle
                matSuffix
                [for]="hasta"
              ></mat-datepicker-toggle>
              <mat-datepicker #hasta></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile> 
            
              <mat-checkbox [(ngModel)]="flgSinIpress" value="" color="primary">Mostrar Registros sin IPRESS</mat-checkbox>
            
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-checkbox [(ngModel)]="flgBuscarEnAmbito" value="" color="primary">Buscar en Todo el Ámbito</mat-checkbox>
          </mat-grid-tile>

          <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="buscar()">
              BUSCAR
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="BUSQUEDA POR NOMBRES">
        <app-busqueda-por-nombre
          (cargoResultadosPorNombreEvent)="
            cargoResultadosPorNombreEvent($event)
          "
        ></app-busqueda-por-nombre>
      </mat-tab>

      <mat-tab label="BUSQUEDA POR NUMERO DE DOCUMENTO">
        <app-busqueda-por-identificacion (cargoResultadosPorIndentificacionEvent)="cargoResultadosPorIndentificacionEvent($event)"></app-busqueda-por-identificacion>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
