<div class="container">

    <div class="invoice p-3 mb-3">
        <!-- title row -->
        <div class="row">
          <div class="col-12">
            <h4>
              <i class="fas fa-globe"></i>DIRESA CAJAMARCA
             
            </h4>
          </div>
          <!-- /.col -->
        </div>
     
        <div class="position-relative p-3 bg-gray" style="height: 180px">
            <div class="ribbon-wrapper ribbon-xl">
              <div class="ribbon bg-danger text-xl">
                Registro Exitoso
              </div>
            </div>
            <div class="cita">

                <BR>
            SUS DATOS HAN SIDO ACTUALIZADOS
                 CORRECTAMENTE
                    <br>
                   PRONTO SE LE PROGRAMARA Y COMUNICARA SU CITA <BR>

                     <BR> 
            </div>
            
            
         


          </div>
    
    
        <!-- this row will not appear when printing -->
        <div class="row no-print">
          <div class="col-12">
            <a href="invoice-print.html" target="_blank" class="btn btn-primary float-right" (click)="imprimir()"><i class="fas fa-print"></i> Inprimir</a>
           
           
          </div>
        </div>
      </div>
</div>
