   <!-- Post -->
   <div class="post" *ngFor="let ficha0 of Fichas0" >
  
    <div class="user-block">                    
      <span class="username">
          FECHA 
        <a href="#">{{ficha0.Fecha}}</a>
        <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
      </span>
      <span class="description"></span>
    </div>



  
    
     
    

  </div>

  
  <div class="card">
    <div class="card-header ui-sortable-handle" style="cursor: move;">
      <h3 class="card-title">
        <i class="ion ion-clipboard mr-1"></i>
     Sintomas
      </h3>

      <div class="card-tools">
        <ul class="pagination pagination-sm">
          <li class="page-item"><a href="#" class="page-link">«</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">»</a></li>
        </ul>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <ul class="todo-list ui-sortable" data-widget="todo-list">
        <li>
          <!-- drag handle -->
          <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <!-- checkbox -->
          <div class="icheck-primary d-inline ml-2">
            <input type="checkbox" value="" name="todo1" id="todoCheck1">
            <label for="todoCheck1"></label>
          </div>
          <!-- todo text -->
          <span class="text">Fiebre</span>
          <!-- Emphasis label -->
          <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>
          <!-- General tools such as edit or delete-->
          <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
          </div>
        </li>
        <li class="done">
          <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <div class="icheck-primary d-inline ml-2">
            <input type="checkbox" value="" name="todo2" id="todoCheck2" checked="">
            <label for="todoCheck2"></label>
          </div>
          <span class="text">Tos</span>
          <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>
          <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
          </div>
        </li>
        <li class="done">
          <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <div class="icheck-primary d-inline ml-2">
            <input type="checkbox" value="" name="todo3" id="todoCheck3">
            <label for="todoCheck3"></label>
          </div>
          <span class="text">Dificultad Respiratoria</span>
          <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
          <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
          </div>
        </li>
        <li class="done">
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo4" id="todoCheck4">
              <label for="todoCheck4"></label>
            </div>
            <span class="text">Dolor de Garganta</span>
            <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
        <li class="done">
          <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <div class="icheck-primary d-inline ml-2">
            <input type="checkbox" value="" name="todo4" id="todoCheck4">
            <label for="todoCheck4"></label>
          </div>
          <span class="text">Congestion Nasal</span>
          <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
          <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
          </div>
        </li>
       
        
      </ul>
    </div>
    <!-- /.card-body -->

  </div>



  <div class="card">
    <div class="card-header ui-sortable-handle" style="cursor: move;">
      <h3 class="card-title">
        <i class="ion ion-clipboard mr-1"></i>
     Riezgos
      </h3>

      <div class="card-tools">
        <ul class="pagination pagination-sm">
          <li class="page-item"><a href="#" class="page-link">«</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">»</a></li>
        </ul>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <ul class="todo-list ui-sortable" data-widget="todo-list">
        <li>
          <!-- drag handle -->
          <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <!-- checkbox -->
          <div class="icheck-primary d-inline ml-2">
            <input type="checkbox" value="" name="todo1" id="todoCheck1">
            <label for="todoCheck1"></label>
          </div>
          <!-- todo text -->
          <span class="text">Obesidad</span>
          <!-- Emphasis label -->
          <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>
          <!-- General tools such as edit or delete-->
          <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
          </div>
        </li>
        <li class="done">
          <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <div class="icheck-primary d-inline ml-2">
            <input type="checkbox" value="" name="todo2" id="todoCheck2" checked="">
            <label for="todoCheck2"></label>
          </div>
          <span class="text">Enfermedad Pulmonar</span>
          <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>
          <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
          </div>
        </li>
        <li class="done">
          <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <div class="icheck-primary d-inline ml-2">
            <input type="checkbox" value="" name="todo3" id="todoCheck3">
            <label for="todoCheck3"></label>
          </div>
          <span class="text">Diabetis</span>
          <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
          <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
          </div>
        </li>
        <li class="done">
          <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <div class="icheck-primary d-inline ml-2">
            <input type="checkbox" value="" name="todo4" id="todoCheck4">
            <label for="todoCheck4"></label>
          </div>
          <span class="text">Hipertension</span>
          <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
          <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
          </div>
        </li>
        <li class="done">
          <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <div class="icheck-primary d-inline ml-2">
            <input type="checkbox" value="" name="todo5" id="todoCheck5">
            <label for="todoCheck5"></label>
          </div>
          <span class="text">Inmunodepresion</span>
          <small class="badge badge-primary"><i class="far fa-clock"></i> 1 week</small>
          <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
          </div>
        </li>
        <li class="done">
          <span class="handle ui-sortable-handle">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <div class="icheck-primary d-inline ml-2">
            <input type="checkbox" value="" name="todo6" id="todoCheck6">
            <label for="todoCheck6"></label>
          </div>
          <span class="text">Cancer</span>
          <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
          <div class="tools">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-o"></i>
          </div>
        </li>
        <li class="done">
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo6" id="todoCheck6">
              <label for="todoCheck6"></label>
            </div>
            <span class="text">Gestante</span>
            <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>

          <li class="done">
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo6" id="todoCheck6">
              <label for="todoCheck6"></label>
            </div>
            <span class="text">Mayor 65</span>
            <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
      </ul>
    </div>

  </div>



<!--   
  <div class="card card-primary">
    <div class="card-header">
      <div class="card-title">
       
      </div>
    </div>
    <div class="card-body">
      <div>
        <div class="btn-group w-100 mb-2">
          <a class="btn btn-info active" href="javascript:void(0)" data-filter="all"> All items </a>
          <a class="btn btn-info" href="javascript:void(0)" data-filter="1"> Category 1 (WHITE) </a>
          <a class="btn btn-info" href="javascript:void(0)" data-filter="2"> Category 2 (BLACK) </a>
          <a class="btn btn-info" href="javascript:void(0)" data-filter="3"> Category 3 (COLORED) </a>
          <a class="btn btn-info" href="javascript:void(0)" data-filter="4"> Category 4 (COLORED, BLACK) </a>
        </div>
        <div class="mb-2">
          <a class="btn btn-secondary" href="javascript:void(0)" data-shuffle=""> Shuffle items </a>
          <div class="float-right">
            <select class="custom-select" style="width: auto;" data-sortorder="">
              <option value="index"> Sort by Position </option>
              <option value="sortData"> Sort by Custom Data </option>
            </select>
            <div class="btn-group">
              <a class="btn btn-default" href="javascript:void(0)" data-sortasc=""> Ascending </a>
              <a class="btn btn-default" href="javascript:void(0)" data-sortdesc=""> Descending </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="filter-container p-0 row" style="padding: 3px; position: relative; width: 100%; display: flex; flex-wrap: wrap; height: 343px;">
          <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample" style="opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/FFFFFF.png?text=1" data-toggle="lightbox" data-title="sample 1 - white">
              <img src="https://via.placeholder.com/300/FFFFFF?text=1" class="img-fluid mb-2" alt="white sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample" style="opacity: 1; transform: scale(1) translate3d(177px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/000000.png?text=2" data-toggle="lightbox" data-title="sample 2 - black">
              <img src="https://via.placeholder.com/300/000000?text=2" class="img-fluid mb-2" alt="black sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample" style="opacity: 1; transform: scale(1) translate3d(354px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/FF0000/FFFFFF.png?text=3" data-toggle="lightbox" data-title="sample 3 - red">
              <img src="https://via.placeholder.com/300/FF0000/FFFFFF?text=3" class="img-fluid mb-2" alt="red sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample" style="opacity: 1; transform: scale(1) translate3d(531px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/FF0000/FFFFFF.png?text=4" data-toggle="lightbox" data-title="sample 4 - red">
              <img src="https://via.placeholder.com/300/FF0000/FFFFFF?text=4" class="img-fluid mb-2" alt="red sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample" style="opacity: 1; transform: scale(1) translate3d(708px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/000000.png?text=5" data-toggle="lightbox" data-title="sample 5 - black">
              <img src="https://via.placeholder.com/300/000000?text=5" class="img-fluid mb-2" alt="black sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample" style="opacity: 1; transform: scale(1) translate3d(885px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/FFFFFF.png?text=6" data-toggle="lightbox" data-title="sample 6 - white">
              <img src="https://via.placeholder.com/300/FFFFFF?text=6" class="img-fluid mb-2" alt="white sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample" style="opacity: 1; transform: scale(1) translate3d(0px, 170px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/FFFFFF.png?text=7" data-toggle="lightbox" data-title="sample 7 - white">
              <img src="https://via.placeholder.com/300/FFFFFF?text=7" class="img-fluid mb-2" alt="white sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample" style="opacity: 1; transform: scale(1) translate3d(177px, 170px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/000000.png?text=8" data-toggle="lightbox" data-title="sample 8 - black">
              <img src="https://via.placeholder.com/300/000000?text=8" class="img-fluid mb-2" alt="black sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample" style="opacity: 1; transform: scale(1) translate3d(354px, 170px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/FF0000/FFFFFF.png?text=9" data-toggle="lightbox" data-title="sample 9 - red">
              <img src="https://via.placeholder.com/300/FF0000/FFFFFF?text=9" class="img-fluid mb-2" alt="red sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample" style="opacity: 1; transform: scale(1) translate3d(531px, 170px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/FFFFFF.png?text=10" data-toggle="lightbox" data-title="sample 10 - white">
              <img src="https://via.placeholder.com/300/FFFFFF?text=10" class="img-fluid mb-2" alt="white sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample" style="opacity: 1; transform: scale(1) translate3d(708px, 170px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/FFFFFF.png?text=11" data-toggle="lightbox" data-title="sample 11 - white">
              <img src="https://via.placeholder.com/300/FFFFFF?text=11" class="img-fluid mb-2" alt="white sample">
            </a>
          </div>
          <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample" style="opacity: 1; transform: scale(1) translate3d(885px, 170px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; width: 173.5px; transition: all 0.5s ease-out 0ms, width 1ms ease 0s;">
            <a href="https://via.placeholder.com/1200/000000.png?text=12" data-toggle="lightbox" data-title="sample 12 - black">
              <img src="https://via.placeholder.com/300/000000?text=12" class="img-fluid mb-2" alt="black sample">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div> -->
 
