   
   <div *ngFor="let ficha0 of Fichas0" >
   <!-- Post -->
   <div class="post" >

    
  
    <div class="user-block">                    
      <span class="username">
          FECHA 
        <a href="#">{{ficha0.Fecha}}</a>
        <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
      </span>
      <span class="description"></span>
</div>


    
 


</div>

<div>
    <div class="card">
      <div class="card-header ui-sortable-handle" style="cursor: move;">
        <h3 class="card-title">
          <i class="ion ion-clipboard mr-1"></i>
       Sintomas
        </h3>
  
        <div class="card-tools">
          <ul class="pagination pagination-sm">
            <li class="page-item"><a href="#" class="page-link">«</a></li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">»</a></li>
          </ul>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <ul class="todo-list ui-sortable" data-widget="todo-list">
          <li >
            <!-- drag handle -->
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <!-- checkbox -->
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="true" name="todo1" id="todoCheck1" [checked]="Verificar(ficha0.Fiebre)">
              <label for="todoCheck1"></label>
            </div>
            <!-- todo text -->
            <span class="text">Fiebre</span>
            <!-- Emphasis label -->
            <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>
            <!-- General tools such as edit or delete-->
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li >
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo2" id="todoCheck2" [checked]="Verificar(ficha0.Tos)">
              <label for="todoCheck2"></label>
            </div>
            <span class="text">Tos</span>
            <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li >
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo3" id="todoCheck3">
              <label for="todoCheck3"></label>
            </div>
            <span class="text">Dificultad Respiratoria</span>
            <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li >
              <span class="handle ui-sortable-handle">
                <i class="fas fa-ellipsis-v"></i>
                <i class="fas fa-ellipsis-v"></i>
              </span>
              <div class="icheck-primary d-inline ml-2">
                <input type="checkbox" value="" name="todo4" id="todoCheck4" [checked]="Verificar(ficha0.Dolor_garganta)">
                <label for="todoCheck4"></label>
              </div>
              <span class="text">Dolor de Garganta</span>
              <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
              <div class="tools">
                <i class="fas fa-edit"></i>
                <i class="fas fa-trash-o"></i>
              </div>
            </li>
          <li >
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo4" id="todoCheck4" [checked]="Verificar(ficha0.Congestion_nasal)">
              <label for="todoCheck4"></label>
            </div>
            <span class="text">Congestion Nasal</span>
            <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
         
          
        </ul>
      </div>
      <!-- /.card-body -->
  
    </div>
    <div class="card">
      <div class="card-header ui-sortable-handle" style="cursor: move;">
        <h3 class="card-title">
          <i class="ion ion-clipboard mr-1"></i>
       Riezgos
        </h3>
  
        <div class="card-tools">
          <ul class="pagination pagination-sm">
            <li class="page-item"><a href="#" class="page-link">«</a></li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">»</a></li>
          </ul>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <ul class="todo-list ui-sortable" data-widget="todo-list">
          <li>
            <!-- drag handle -->
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <!-- checkbox -->
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo1" id="todoCheck1" [checked]="Verificar(ficha0.Obecidad)">
              <label for="todoCheck1"></label>
            </div>
            <!-- todo text -->
            <span class="text">Obesidad</span>
            <!-- Emphasis label -->
            <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>
            <!-- General tools such as edit or delete-->
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li >
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo2" id="todoCheck2" [checked]="Verificar(ficha0.Enfermedad_Pulmonar)">
              <label for="todoCheck2"></label>
            </div>
            <span class="text">Enfermedad Pulmonar</span>
            <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li >
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo3" id="todoCheck3" [checked]="Verificar(ficha0.Diabetes)">
              <label for="todoCheck3"></label>
            </div>
            <span class="text">Diabetis</span>
            <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li >
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo4" id="todoCheck4" [checked]="Verificar(ficha0.Hipertension)">
              <label for="todoCheck4"></label>
            </div>
            <span class="text">Hipertension</span>
            <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li >
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo5" id="todoCheck5" [checked]="Verificar(ficha0.Inmunodepresion)">
              <label for="todoCheck5"></label>
            </div>
            <span class="text">Inmunodepresion</span>
            <small class="badge badge-primary"><i class="far fa-clock"></i> 1 week</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li >
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo6" id="todoCheck6" [checked]="Verificar(ficha0.Cancer)">
              <label for="todoCheck6"></label>
            </div>
            <span class="text">Cancer</span>
            <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li >
              <span class="handle ui-sortable-handle">
                <i class="fas fa-ellipsis-v"></i>
                <i class="fas fa-ellipsis-v"></i>
              </span>
              <div class="icheck-primary d-inline ml-2">
                <input type="checkbox" value="" name="todo6" id="todoCheck6" [checked]="Verificar(ficha0.Riesgo_gestante)">
                <label for="todoCheck6"></label>
              </div>
              <span class="text">Gestante</span>
              <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
              <div class="tools">
                <i class="fas fa-edit"></i>
                <i class="fas fa-trash-o"></i>
              </div>
            </li>
  
            <li >
              <span class="handle ui-sortable-handle">
                <i class="fas fa-ellipsis-v"></i>
                <i class="fas fa-ellipsis-v"></i>
              </span>
              <div class="icheck-primary d-inline ml-2">
                <input type="checkbox" value="" name="todo6" id="todoCheck6" [checked]="Verificar(ficha0.Mayor_65)">
                <label for="todoCheck6"></label>
              </div>
              <span class="text">Mayor 65</span>
              <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
              <div class="tools">
                <i class="fas fa-edit"></i>
                <i class="fas fa-trash-o"></i>
              </div>
            </li>
        </ul>
      </div>
  
    </div>
  </div>


</div>

    
 




    



  


 
