<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="../../index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>







  <div class="container">

    
    <div class="row">
        <div class="col-md-12 TITULO">
          
       
VACUNACION TERRITORIAL

<img src="http://sir.diresacajamarca.gob.pe/covid/Content/img/grc_icono.svg" style="display:inline;" alt="Dirección Regional de Salud Cajamarca">
      <span>
        <img src="http://sir.diresacajamarca.gob.pe/covid/Content/img/texto_diresa-pagina-2.svg" alt="Dirección Regional de Salud Cajamarca" style="display: inline-block;">
    </span>
           
        </div>
        <div class="col-md-12 SUBTITULO">
          
       
          ADULTOS MAYORES
          
          <img src="http://sir.diresacajamarca.gob.pe/covid/Content/img/grc_icono.svg" style="display:inline;" alt="Dirección Regional de Salud Cajamarca">
                <span>
                  <img src="http://sir.diresacajamarca.gob.pe/covid/Content/img/texto_diresa-pagina-2.svg" alt="Dirección Regional de Salud Cajamarca" style="display: inline-block;">
              </span>
                     
                  </div>

    </div>
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">DATOS GENERALES</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form">
            <div class="card-body">
                <div class="form-group">
                    <label>TIPO DE DOCUMENTO DE IDENTIDAD</label>
                    <select class="form-control">
                      <option>DNI</option>
                      <option>CE</option>
                      
                    </select>
                  </div>
              <div class="form-group">
                <label for="exampleInputEmail1">NUMERO DE DOCUMENTO DE IDENTIDAD</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el Numero de Documento ">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">APELLIDO PATERNO</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el Apellido Paterno">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">APELLIDO MATERNO</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el Apellido Materno">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">NOMBRES</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ingrese sus Nombres">
              </div>
            
            
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">GUARDAR</button>
            </div>
          </form>
        </div>
        <!-- /.card -->

          <!-- /.card -->

          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">DISTRITO DE RESIDENCIA HABITUAL</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>SELECCIONE PROVINCIA</label>
                        <select class="form-control">
                          <option>CAJAMARCA</option>
                          <option>CAJABAMBA</option>
                          <option>CELENDIN</option>
                          <option>CHOTA</option>
                          <option>CONTUMAZA</option>
                          <option>CUTERVO</option>
                          <option>HULGAYOC</option>
                          <option>JAEN</option>
                          <option>SAN IGNACIO</option>
                          <option>SAN MARCOS</option>
                          <option>SAN MIGUEL</option>
                          <option>SAN PABLO</option>
                          <option>SANTA CRUZ</option>
                          
                        </select>
                      </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>SELECCIONE DISTRITO</label>
                        <select class="form-control">
                          <option>CAJAMARCA</option>
                          <option>CELENDIN</option>
                      
                        </select>
                      </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label>SELECCIONE CENTRO POBLADO</label>
                        <select class="form-control">
                          <option>CAJAMARCA</option>
                          <option>CELENDIN</option>
                      
                        </select>
                      </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>

          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">DIRECCION ACTUAL</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form role="form">
                <div class="row">
                  <div class="col-sm-4">
                    <!-- text input -->
                    <div class="form-group">
                        <label>TIPO DE VIA </label>
                        <select class="form-control">
                          <option>AVENIDA</option>
                          <option>JR</option>
                          <option>PSJE</option>
                        
                        </select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>NOMBRE DE VIA</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>NUMERO</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- textarea -->
                    <div class="form-group">
                      <label>REFERENCIA</label>
                      <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    
                  </div>
                </div>
  
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">SELECIONE SU PUNTO DE VACUNACION MAS CERCANO</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                   
                      <div class="col-4">
                          <div class="form-group">
                              <label>SELECCIONAR PUNTO</label>
                              <select class="form-control">
                                <option>C.S. PACHACUTEC</option>
                                <option>C.S. MAGNA VALLEJOS</option>
                                <option>C.S. HUAMBOCANCHA BAJA</option>
                                <option>C.S. SIMON BOLIVAR</option>
                                <option>C.S. BAÑOS DEL INCA</option>
                                <option>ESSALUD - IE.301</option>
                                <option>DISA CHOTA - IE. 10381</option>
                                <option>DISA CHOTA - IE. 10384</option>
                                <option>DISA CHOTA - IE. 11039</option>
                                <option>INSTITUCION EDUCATIVA RAFAELA</option>
                                <option>I.E  TORIVBIO CASANOVA</option>
                                <option>MERCADO DE ABASTOS</option>
                                <option>I.E FE Y ALEGRIA</option>
                               
                            
                              </select>
                            </div>
                      </div>
                      <div class="col-8">
                        
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
      
              </form>
            </div>
            <!-- /.card-body -->
          </div>

        <!-- /.card -->

        <!-- Input addon -->
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">CONTACTO PARA PROGRAMAR CITA</h3>
          </div>
          <div class="card-body">
            

            

            <h4>CORREO ELECTRONICO</h4>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Email">
            </div>

           
                <label>NUMERO DE TELEFONO</label>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" im-insert="true">
                </div>
                <!-- /.input group -->
          

         

            <h5 class="mt-4 mb-2">With checkbox and radio inputs</h5>

    

       
            <!-- /input-group -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- Horizontal Form -->
     

      </div>
    
    
    
    
    
    
      <!--/.col (left) -->
      <!-- right column -->
     
     
      <div class="col-md-12">
        <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">DATOS ADICIONALES</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <div class="form-group">
                  <label>SELECCIONAR PUNTO</label>
                  <select class="form-control">
                    <option>SIN SEGURO</option>
                    <option>SIS</option>
                    <option>SANIDAD PNP</option>
                    <option>ESSALUD</option>
                    <option>SIS</option>
                    <option>SANIDAD PNP</option>
                  
                   
                
                  </select>
                </div>
               
              
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
              </div>
              <!-- /.card-body -->
  
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">GUARDAR</button>
              </div>
            </form>
          </div>
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>